@media (min-width: 768px) {
    header {
        height: 120px; /* Adjusted header height for desktop */
    }

    .portfolio-images img {
        width: 200px; /* Set width to 200 pixels */
        height: auto; /* Allow height to adjust proportionally */
        margin-bottom: 20px; /* Separates images */
    }
    
