body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #CCCCCC; /* Bright pink  */
}

header {
    background: linear-gradient(#CB3D6F, #ffffff); /* Vertical ombre */
    color: #fff;
    padding: 20px;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: space-between;
}

.image-container img {
    max-width: 30%;
    height: auto;
    aspect-ratio: 1 / 1;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    background-color: #CCCCCC; /* bright pink */
}

img {
    max-width: 75%;
    max-height: 75%;
    display: block;
    margin: 0 auto;
    border: 2px solid #555;
    border-color: black;
}

footer {
    background: linear-gradient(#CCCCCC, #ffffff); /* Vertical ombre from green to pink */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}



